<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Поиск уязвимостей в модулях GitHub</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/resume.min.css" rel="stylesheet">

</head>

<body id="page-top">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">GitHub</span>
        <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/static/img/github.png" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/index/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/searching/">Поиск</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/searching_history/">История поиска</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/contacts/">Контакты</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="searching_history">
        <div class="w-100">

            <form method="post">

                <h2 class="mb-5">История поиска</h2>
                </br>
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    {% for item in history_list %}
                        <button type="submit" class="btn btn-secondary" name={{item['id']}}>{{item['date']}}</button>
                        <h8>Репозиторий: {{item['repository']}}</h8>
                        {% for param in item['params'] %}
                            <h8>{{param}}</h8>
                        {% endfor %}
                    {% endfor %}
                </div>
                </br>
                </br>
                {% if danger_modules_describe != 'BeforeSearching' %}

                    {% if danger_modules_describe == 'Searching' %}
                            </br>
                            </br>
                            <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="Поиск опасного кода" aria-valuemax="100" style="width: 75%"></div>
                        </div>
                    {% else %}
                        {% if danger_modules_describe %}
                            <div class="w-100">
                                <div class="subheading mb-3">Результаты поиска</div>
                                    <ul class="fa-ul mb-0">

                                        {% for item in danger_modules_describe.items() %}
                                        <li>
                                            Репозиторий: <a href={{item[0]}}>{{item[0]}}</a>
                                            </br>
                                            Язык программирования: <a>  {{item[1]['languages'][0]}} </a>
                                            </br>
                                            <table width="100%" border="1" cellpadding="4" cellspacing="0">
                                                <tr>
                                                    <th>Имя модуля</th>
                                                    <th>Статус</th>
                                                    <th>Описание</th>
                                                </tr>
                                                {% for record in item[1]['unsafe_modules'] %}
                                                    <tr><td><a href={{record['url_module']}}>{{record['name_module']}}</a></td><td>{{record['status']}}</td><td>{{record['description']}}</td></tr>
                                                {% endfor %}
                                            </table>
                                        </li>
                                        </br>
                                        {% endfor %}

                                    </ul>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
           </form>

        </div>

    </section>


    <hr class="m-0">

</div>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/resume.min.js"></script>

</body>

</html>
